
@{
    ViewData["Title"] = "درباره ما - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">درباره ما</li>
        </ol>
    </div>
</div>

<div class="container pt-30 pb-30">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                
            </div>            
        </div>
    </div>
</div>

