
@{
    ViewData["Title"] = "تماس با ما - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">تماس با ما</li>
        </ol>
    </div>
</div>

<div class="container pt-30 pb-30">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                 <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                           <img src="~/Static/img/mahdi.png" class="img-responsive" alt="مهدی حسنی " />
                            <div class="box__title">مهدی حسنی </div>
                            <div class="box__desc">
                                <i class="fa fa-whatsapp"></i>
                                <span>09212651629</span>
                            </div>
                            <div class="box__desc">
                                <i class="fa fa-instagram"></i>
                                <span>mobinmahdi.ir</span>
                            </div>
                        </div>
                    </div>                        
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                            <img src="~/Static/img/mobin.png" class="img-responsive" alt="مبین حسنی " />
                            <div class="box__title">مبین حسنی </div>
                            <div class="box__desc">
                                <i class="fa fa-whatsapp"></i>
                                <span>09197442364</span>
                            </div>
                            <div class="box__desc">
                                <i class="fa fa-instagram"></i>
                                <span>mobinmahdi.ir</span>
                            </div>
                        </div>
                    </div>                        
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="box">
                            <img src="~/Static/img/sajjad.jpg" class="img-responsive" alt="سجاد افشاری" />
                            <div class="box__title">سجاد افشاری </div>
                            <div class="box__desc">
                                <i class="fa fa-whatsapp"></i>
                                <span>09017684946</span>
                            </div>
                            <div class="box__desc">
                                <i class="fa fa-instagram"></i>
                                <span>sajjadafshary_118</span>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>            
        </div>
    </div>
</div>
