
@{
    ViewData["Title"] = "راهنما - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">درباره ما</li>
        </ol>
    </div>
</div>

<div class="container pt-30 pb-30">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">                
                <p class="txt">آی گرافیک مرجع بزرگ طرح های لایه باز و تصاویر استوک</p>
                <p class="txt">آی گرافیک مخصوص کاربرانی هست که در زمینه گرافیکی فعالیت انجام می دهند </p>
                <p class="txt">در آی گرافیک شما کاربران عزیز می توانید طرح های لایه بازی را که طراحی کرده اید به قیمت مناسب به دیگر همکارانتان بفروشید </p>
                <p class="txt">برای فعالیت در آی گرافیک ابتدا داخل سایت ثبت نام کنید </p>
                <p class="txt">طرح های لایه بازی که طراحی کرده اید رو می توانید داخل ناحیه کاربری خود بار گزاری کنید و بعد از تایید مدیر سایت طرح شما در اختیار کاربران قرار داده می شود و کاربران می توانند آن را خریداری کنند</p>
                <p class="txt">پس از خریداری طرح شما توسط کاربران 70 در صد مبلغ آن طرح وارد کیف پول شما می شود  </p>
                <p class="txt">30 درصد مبلغ طرح برای کارمزد آی گرافیک می باشد </p>
                <p class="txt">هر زمانی که خواستید می توانید درخواست تسویه حساب بدهید </p>
                <p class="txt">مبلغ هر تسویه حسابی که ثبت می کنید 500 تومان می باشد</p>
                <p class="txt">مبلغ تسویه حساب در تمامی روزها حتی تعطیلات نیز کمتر از 24 ساعت واریز می شود </p>
                <p class="txt">در پنل کاربری خود باید یک شماره کارت یا شماره حساب به نام خودتون ذخیره کرده باشید </p>
            </div>            
        </div>
    </div>
</div>

