@using DownloadableProduct.Domain.Dto.Pagination
@using DownloadableProduct.Domain.Dto.Product
@model PaginationDto<ProductDto>
@{
    ViewData["Title"] = "ایران گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li class="active">محصولات دانلودی ایران گرافیک</li>
        </ol>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Data)
            {
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <a href="/Home/Detail/@product.Id" class="product__item">
                        <div class="product__item__img">
                            <img src="~/Files/@product.SmallImage" class="img-responsive" />
                            @* @product.User?.FullName *@
                        </div>
                        <div class="product__item__title">@product.Title</div>
                        <div class="product__item__price">قیمت : <span>@product.Price</span> تومان</div>
                        <div class="product__item__btn">
                            <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                        </div>
                    </a>
                </div>
            }
        </div>
        @Html.Partial("_Pagination", Model)

    </div>
</div>

