@using DownloadableProduct.Domain.Dto.Product
@model List<ProductDto>
@{
    ViewData["Title"] = "ایران گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var product in Model)
{
    <div>
        <p><img src="~/Files/@product.SmallImage" style="width:150px;height:150px;" /></p>
        <p>عنوان : @product.Title</p>
        <p>قیمت : @product.Price</p>
        <p>کاربر : @product.User?.FullName</p>
        <p><a href="/Home/Detail/@product.Id">مشاهده و خرید</a></p>
        <hr />
    </div>
}

<script>
    $(function(){
        toastr.success('با موفقیت انجام شد', {timeOut: 1000})
         //toastr.error('سلام خوش آمدید')
         //toastr.warning('سلام خوش آمدید')
         //toastr.info('سلام خوش آمدید')
    })
</script>

