@using DownloadableProduct.Domain.Dto.Pagination
@using DownloadableProduct.Domain.Dto.Product
@using DNTPersianUtils.Core
@model PaginationDto<ProductDto>
@{
    ViewData["Title"] = "ایران گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li class="active">طرح های بارگذاری شده ایران گرافیک</li>
        </ol>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Data)
            {
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__img">
                            <img src="~/Files/@product.SmallImage" class="img-responsive" />
                            @* @product.User?.FullName *@
                        </div>
                        <div class="product__item__title">@product.Title</div>
                        <div class="product__item__price">
                            قیمت :
                            @if (product.Price == 0)
                            {
                                <span>رایگان</span>
                            }
                            else
                            {
                                <span>@product.Price.ToPersianNumbers("#,##") تومان</span>
                            }
                        </div>
                        <div class="product__item__btn">
                            @if (product.Price == 0)
                            {
                                <a href="/Home/Detail/@product.Id" class="btn btn-block btn-success">مشاهده جزئیات و دانلود </a>

                            }
                            else
                            {
                                <a href="/Home/Detail/@product.Id" class="btn btn-block btn-success">مشاهده جزئیات و خرید </a>

                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.Partial("_Pagination", Model)

    </div>
</div>

