@using DownloadableProduct.Domain.Dto.Product
@model List<ProductDto>
@{
    ViewData["Title"] = "ایران گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var product in Model)
{
    <div>
        <p><img src="~/Files/@product.SmallImage" style="width:150px;height:150px;" /></p>
        <p>عنوان : @product.Title</p>
        <p>قیمت : @product.Price</p>
        <p>کاربر : @product.User?.FullName</p>
        <p><a href="/Home/Detail/@product.Id">مشاهده و خرید</a></p>
        <hr />
    </div>
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li class="active">محصولات دانلودی ایران گرافیک</li>
        </ol>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                
            <div class="col-md-3 col-xs-12 col-sm-6">
                <a href="#" class="product__item">
                    <div class="product__item__img">
                        <img src="~/static/img/product.jpg" class="img-responsive" />
                    </div>
                    <div class="product__item__title">عنوان محصول تستی که اگر بیشتر از دو خط بشه ماسخ نقظه
                    میزاره</div>
                    <div class="product__item__price">قیمت : <span>60000</span> تومان</div>
                    <div class="product__item__btn">
                        <button class="btn btn-block btn-success">مشاهده جزئیات و خرید </button>
                    </div>
                </a>
            </div>                                          
        </div>
        <div class="row">
            <div class="container">
                <div class="paging">
                    <a class="paging__link" href="#">1</a>
                    <a class="paging__link active" href="#">2</a>
                    <a class="paging__link" href="#">3</a>
                    <a class="paging__link" href="#">4</a>
                    <a class="paging__link" href="#">5</a>
                    <a class="paging__link" href="#">6</a>
                    <a class="paging__link" href="#">7</a>
                </div>    
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        toastr.success('با موفقیت انجام شد', {timeOut: 1000})
         //toastr.error('سلام خوش آمدید')
         //toastr.warning('سلام خوش آمدید')
         //toastr.info('سلام خوش آمدید')
    })
</script>

