
@{
    ViewData["Title"] = "قوانین و مقررات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">قوانین و مقررات</li>
        </ol>
    </div>
</div>

<div class="container pt-30 pb-30">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">                
                <p class="txt">
                     توجه داشته باشید کلیه
                     اصول و رویه‏‌های آی گرافیک منطبق با قوانین جمهوری اسلامی ایران، 
                    قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر
                    نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و
                    سرویس‏‌های آی گرافیک تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و
                     شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است. 
                </p>               
                <p class="txt">پس از خریداری طرح شما توسط کاربران 70 در صد مبلغ آن طرح وارد کیف پول شما می شود  </p>
                <p class="txt">30 درصد مبلغ طرح برای کارمزد آی گرافیک می باشد </p>
                <p class="txt">هر زمانی که خواستید می توانید درخواست تسویه حساب بدهید </p>
                <p class="txt">مبلغ هر تسویه حسابی که ثبت می کنید 500 تومان می باشد</p>
                <p class="txt">مبلغ تسویه حساب در تمامی روزها حتی تعطیلات نیز کمتر از 24 ساعت واریز می شود </p>
                <p class="txt">در پنل کاربری خود باید یک شماره کارت یا شماره حساب به نام خودتون ذخیره کرده باشید </p>
            </div>            
        </div>
    </div>
</div>
