
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<p><a href="/Admin/Product/Wating">محصولات در انتظار تایید</a></p>
<p><a href="/Admin/Checkout/Wating">تسویه حساب های درحال انتظار</a></p>

