
@{
    ViewData["Title"] = "پنل مدیریتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">ناحیه کاربری</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="admin">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت طرح ها </div>
                    </div>
                    <a href="/Admin/Product/Wating" class="admin__item__link">طرح های در انتظار تایید <span class="badge pull-right">7</span></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">تسویه حساب</div>
                    </div>
                    <a href="/Admin/Checkout/Wating" class="admin__item__link">تسویه حساب های درحال انتظار</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">کارت های بانکی</div>
                    </div>
                    <a href="/Admin/CartBank/Wating" class="admin__item__link"> کارت های بانکی درحال انتظار</a>
                </div>
            </div>
        </div>
    </div>
</div>

