.product .product__item .product__item__img {
    background-color: #ececec;
}

.product .product__item .product__item__img img {
    height: 150px;
}

.product .product__item .product__item__title {
    line-height: 1.5em;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}