.product .product__item {
    border-radius: 0;
}

.product .product__item .product__item__img {
    background-color: #ececec;
    border-radius: 0px !important;
}

.product .product__item .product__item__img img {
    height: 200px;
    border-radius: 0px !important;
}

.product .product__item .product__item__btn .btn {
    border-radius: 0px !important;
}

.product .product__item .product__item__title {
    line-height: 1.5em;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #629c49eb;
    border-color: #629c49eb;
}

.table thead tr th , .table tbody tr td {
    text-align: center;
    font-family: "MyriadArabic";
    vertical-align: middle;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover , .navbar-inverse .navbar-nav>li>a:hover{
    color: #a0ff77 !important;
    background-color: transparent !important;
} 

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.panel-user {
    height: 100px;
    border-radius: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    border-radius: 0 !important;
    margin: 0px  !important;
}

.panel-user__icon {
    font-size: 50px;
    margin-left: 10px;
}

.panel-user__title {
    font-size: 20px;
    font-family: MyriadArabic;
}

.panel-user__desc {
    font-size: 16px;
    font-family: MyriadArabic;
}