.product .product__item {
    border-radius: 0;
}

.product .product__item .product__item__img {
    background-color: #ececec;
    border-radius: 0px !important;
}

.product .product__item .product__item__img img {
    height: 200px;
    border-radius: 0px !important;
}

.product .product__item .product__item__btn .btn {
    border-radius: 0px !important;
}

.product .product__item .product__item__title {
    line-height: 1.5em;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #629c49eb;
    border-color: #629c49eb;
}

.table thead tr th , .table tbody tr td {
    text-align: center;
    font-family: "MyriadArabic";
    vertical-align: middle;
    font-size: 15px;
}