
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ناحیه کاربری یوزر : </h2>
<p><a href="/User/Product/Create">ایجاد محصول جدید</a></p>
<p><a href="/User/Product/Index">محصولات من</a></p>
<p><a href="/User/Checkout/Create">درخواست تسویه حساب</a></p>

