
@{
    ViewData["Title"] = "ناحیه کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li class="active">ناحیه کاربری</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="admin">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت طرح ها </div>
                    </div>
                    <a href="/User/Product/Create" class="admin__item__link">اضافه نمودن طرح جدید</a>
                    <a href="/User/Product/Index" class="admin__item__link">طرح های بارگذاری شده توسط من</a>
                    <a href="/User/Product/Buy" class="admin__item__link">طرح های خریداری شده توسط من</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">تسویه حساب</div>
                    </div>
                    <a href="/User/Checkout/Create" class="admin__item__link">درخواست تسویه حساب</a>
                    <a href="/User/Checkout/Index" class="admin__item__link">تسویه حساب های من</a>
                </div>
            </div>
        </div>
    </div>
</div>

