@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "ناحیه کاربری - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var wallet = (string)ViewBag.Wallet;
    var countProductConfirm = (string)ViewBag.CountProductConfirm;
    var countProduct = (string)ViewBag.CountProduct;
    var income = (string)ViewBag.Income;
    var countBuy = (string)ViewBag.CountBuy;
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">ناحیه کاربری</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="admin">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading panel-user">
                        <i class="fa fa-money panel-user__icon" aria-hidden="true"></i>
                        <div>
                            <p class="panel-user__title">موجودی کیف پول</p>
                            <p class="panel-user__desc">@(wallet.ToPersianNumbers())  تومان</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading panel-user">
                        <i class="fa fa-check-square-o  panel-user__icon" aria-hidden="true"></i>
                        <div>
                            <p class="panel-user__title">تعداد طرح های تایید شده</p>
                            <p class="panel-user__desc">@(countProductConfirm.ToPersianNumbers())</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-user">
                        <i class="fa fa-cart-plus panel-user__icon" aria-hidden="true"></i>
                        <div>
                            <p class="panel-user__title">تعداد فروش من</p>
                            <p class="panel-user__desc">@(countBuy.ToPersianNumbers())</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading panel-user">
                        <i class="fa fa-snowflake-o panel-user__icon" aria-hidden="true"></i>
                        <div>
                            <p class="panel-user__title">درآمد من از آی گرافیک</p>
                            <p class="panel-user__desc">@(income.ToPersianNumbers())  تومان</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

<div class="container">
    <div class="row">
        <div class="admin">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت طرح ها </div>
                    </div>
                    <a href="/User/Product/Create" class="admin__item__link">اضافه نمودن طرح جدید</a>
                    <a href="/User/Product/Index" class="admin__item__link">طرح های بارگذاری شده توسط من</a>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">تسویه حساب</div>
                    </div>
                    <a href="/User/Checkout/Create" class="admin__item__link">درخواست تسویه حساب</a>
                    <a href="/User/Checkout/Index" class="admin__item__link">تسویه حساب های من</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">طرح های خریداری شده توسط من</div>
                    </div>
                    <a href="/User/Product/Buy" class="admin__item__link">مشاهده طرح ها</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت کارت های بانکی</div>
                    </div>
                    <a href="/User/CartBank/Create" class="admin__item__link">ایجاد کارت بانکی جدید</a>
                    <a href="/User/CartBank/Index" class="admin__item__link">لیست کارت های بانکی من</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="admin">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">مدیریت فروش های من </div>
                    </div>
                    <a href="/User/Product/Sell" class="admin__item__link">مشاهده فروش ها</a>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="admin__item">
                    <div class="admin__item__header">
                        <div class="fa fa-snowflake-o admin__item__header__icon"></div>
                        <div class="admin__item__header__title">پرداخت های من </div>
                    </div>
                    <a href="/User/Payment/Index" class="admin__item__link">مشاهده پرداخت ها</a>

                </div>
            </div>
        </div>
    </div>
</div>

