@using DownloadableProduct.Domain.Dto.Product
@using DNTPersianUtils.Core
@model List<ProductDto>
@{
    ViewData["Title"] = "لیست طرح های در حال انتظار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li><a href="/admin">پنل مدیریتی</a></li>
            <li class="active">لیست طرح های در حال انتظار</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div class="panel panel-success">
                    <div class="panel-heading">لیست طرح های در حال انتظار</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>عنوان </th>
                                    <th>قیمت</th>
                                    <th>کاربر</th>
                                    <th>بررسی</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id.ToPersianNumbers()</td>
                                        <td>@item.Title.ToPersianNumbers()</td>
                                        <td>
                                        @if(item.Price==0)
                                        {
                                            <span>رایگان</span>
                                        }
                                        else
                                        {
                                            <span>@item.Price.ToString("#,##").ToPersianNumbers() تومان</span>
                                        }
                                        </td>
                                        <td>@item.User?.FullName.ToPersianNumbers()</td>
                                        <td>
                                            <a class="btn btn-success" href="/Admin/Product/Check/@item.Id">بررسی</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
