@using DownloadableProduct.UI.Models.CartBank
@using DownloadableProduct.Domain.Dto.CartBank
@model CartBankCreateViewModel
@using DNTPersianUtils.Core
@{
    ViewData["Title"] = "ایجاد کارت بانکی جدید - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li><a href="/User">ناحیه کاربری من</a></li>
            <li class="active">ایجاد کارت بانکی جدید</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="login__title">ایجاد کارت بانکی جدید</div>
                <div class="login__desc">
                    کاربر گرامی شما از این طریق این بخش می توانید
                    کارت بانکی جدید ثبت کنید
                </div>

                <form method="post">
                    @Html.AntiForgeryToken()
                    @Html.Partial("ErrorPartialView")
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="number" tabindex="4" minlength="4" maxlength="4" asp-for="Part4" required class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="number" tabindex="3" minlength="4" maxlength="4" asp-for="Part3" required class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="number" tabindex="2" minlength="4" maxlength="4" asp-for="Part2" required class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="number" autofocus tabindex="1" minlength="4" maxlength="4" asp-for="Part1" required class="form-control">
                            </div>
                        </div>
                    </div>                                                                                
                    <div class="form-group">
                        <button type="submit" tabindex="5" class="btn btn-success btn-block">ثبت کارت بانکی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
