@using DownloadableProduct.Domain.Dto.Checkout
@using DNTPersianUtils.Core
@model List<CheckoutDto>
@{
    ViewData["Title"] = "درخواست های تسویه حساب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li><a href="/User">پنل مدیریتی</a></li>
            <li class="active">درخواست های تسویه حساب</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div class="panel panel-success">
                    <div class="panel-heading">درخواست های تسویه حساب</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>کاربر</th>
                                    <th>مبلغ درخواستی</th>
                                    <th>موجودی کیف پول کاربر</th>
                                    <th>تایید</th>
                                    <th>رد</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Id.ToPersianNumbers()</td>
                                    <td>@item.User?.FullName.ToPersianNumbers()</td>
                                    <td>@item.Price.ToString("#,##").ToPersianNumbers() تومان</td>
                                    <td>@item.User?.Wallet.ToString("#,##").ToPersianNumbers() تومان</td>
                                    <td>
                                        <a class="btn btn-success" href="/Admin/Checkout/Confirm/@item.Id">تایید</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="/Admin/Checkout/Reject/@item.Id">رد</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
