@using DownloadableProduct.Domain.Dto.Product
@using DNTPersianUtils.Core
@using DownloadableProduct.Domain.Enums
@model List<ProductDto>
@{
    ViewData["Title"] = "لیست طرح های من";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">ایران گرافیک</a></li>
            <li><a href="/User">ناحیه کاربری</a></li>
            <li class="active">لیست طرح های من</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div class="panel panel-success">
                    <div class="panel-heading">لیست طرح های من</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>عنوان </th>
                                    <th>وضعیت</th>
                                    <th>قیمت</th>
                                    <th>تکمیل و ویرایش اطلاعات</th>
                                    <th>مشاهده جزییات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td colspan="6">تاکنون طرحی بارگذاری نکرده اید</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@((i++).ToPersianNumbers())</td>
                                            <td>@item.Title</td>
                                            <td>
                                                @if (item.Status == ProductStatus.Confirmed)
                                                {
                                                    <span class="label label-success">تایید شده</span>
                                                }
                                                else if (item.Status == ProductStatus.Production)
                                                {
                                                    <span class="label label-warning">درحال تکمیل اطلاعات توسط شما</span>
                                                }
                                                else if (item.Status == ProductStatus.Rejected)
                                                {
                                                    <span class="label label-danger">رد شده</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-default">درحال بررسی اطلاعات توسط مدیر سایت</span>
                                                }
                                            </td>
                                            <td>@item.Price.ToPersianNumbers("#,##") تومان</td>
                                            <td>
                                                @if (item.Status == ProductStatus.Production)
                                                {
                                                <a href="/User/Product/EditBasic/@(item.Id)" class="btn btn-warning">تکمیل و ویرایش </a>
                                                }
                                                else
                                                {
                                                <a href="#" class="btn btn-warning disabled">تکمیل و ویرایش </a>
                                                }
                                            </td>
                                            <td>
                                                <a href="/User/Product/Detail/@(item.Id)" class="btn btn-success">مشاهده</a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
