@using DownloadableProduct.UI.Models.Product
@model SetFileViewModel
@{
    ViewData["Title"] = "انتخاب فایل طرح";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li><a href="/User">ناحیه کاربری من</a></li>
            <li class="active">انتخاب فایل طرح</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="login__title">انتخاب فایل طرح</div>
                <div class="login__desc">کاربر گرامی شما از این طریق این بخش می توانید فایل طرح را کنید 
                    
                </div>
                <div class="wizard-progress">                   
                    <div class="step complete">
                         اطلاعات پایه
                        <div class="node"></div>
                    </div>
                    <div class="step complete">
                         انتخاب عکس 
                        <div class="node"></div>
                    </div>
                    <div class="step in-progress">
                         انتخاب فایل محصول
                        <div class="node"></div>
                    </div>
                    <div class="step">
                         پایان
                        <div class="node"></div>
                    </div>                    
                </div>
                <form method="post" enctype="multipart/form-data">   
                    @Html.AntiForgeryToken()
                    @Html.Partial("ErrorPartialView")
                    <input type="hidden" asp-for="Id" value="@ViewBag.Id" />                
                    <div class="form-group">
                        <div class="alert alert-danger">
                          
                            فایل آپلودی برای محصول باید کمتر از 500 کیلو بایت باشد
                        </div>
                    </div>                                      
                    <div class="form-group">
                        <label> فایل محصول را وارد کنید : </label>
                        <input type="file" required type="file" name="@Html.NameFor(c=>c.File)" class="form-control" />
                    </div>                                      
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">تایید و ثبت محصول  </button>                        
                    </div>
                    @* <div class="form-group">
                        <a type="button" href="/User/Product/Create" class="btn btn-default"><i class="fa fa-arrow-right"></i> مرحله قبل</a>                       
                    </div> *@
                </form>
            </div>
        </div>
    </div>
</div>
