@using DownloadableProduct.UI.Extensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <!-- general -->
    <link rel="stylesheet" href="~/Static/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Static/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
    <link rel="stylesheet" href="~/Static/fonts/font-fa.css" />

    <!-- css style -->
    <link rel="stylesheet" href="~/Static/css/styles.css" />

    <!-- js labrary -->
    <script src="~/Static/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="~/Static/lib/bootstrap/bootstrap.min.js"></script>

    <!-- slick carowsel -->
    <script src="~/Static/lib/slick/slick.js"></script>
    <link href="~/Static/lib/slick/slick.css" rel="stylesheet" />
</head>
<body dir="rtl">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"> ایران گرافیک</a></li>
                    <li><a href="#">درباره ما</a></li>
                    <li><a href="#">تماس با ما</a></li>
                    <li><a href="#">راهنما</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/logout">خروج</a></li>
                        <li><a href="/user">@User.GetFullName()</a></li>
                    }
                    else
                    {
                        <li><a href="/register">ثبت نام</a></li>
                        <li><a href="/login">ورود</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Static/img/logo.png" class="img-responsive" alt="ایران گرافیک" />
                </div>
                <div class="col-md-9">
                    
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <img src="~/Static/img/logo.png" alt="ایران گرافیک" class="img-responsive footer__item__logo" />
                        <div class="footer__item__desc">با مدیریت سجاد افشاری</div>
                        <div class="footer__item__desc">شماره تماس : 09197572162</div>
                        <div class="footer__item__desc">ایمیل : mobin@@gmail.com</div>
                        <div class="footer__item__desc">تلگرام : @@sajjad.com</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <div class="footer__item__title">اطلاعات بیشتر درباره ایران گرافیک</div>
                        <a class="footer__item__link" href="#">درباره ما</a>
                        <a class="footer__item__link" href="#">تماس با ما</a>
                        <a class="footer__item__link" href="#">راهنما</a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <div class="footer__item__title">قوانین و مقررات در ایران گرافیک</div>
                        <a class="footer__item__link" href="#">قوانین و مقررات</a>
                        <a class="footer__item__link" href="#">تعرفه ها (ویژه طراحان)</a>
                        <a class="footer__item__link" href="#">تعرفه ها (ویژه مشتریان)</a>
                        <a class="footer__item__link" href="#">راهنما</a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <div class="footer__item__title">ثبت نام در ایران گرافیک</div>
                        <a class="footer__item__link" href="#">ورود</a>
                        <a class="footer__item__link" href="#">ثبت نام</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer__bot">
                    طراحی و توسعه توسط <a href="http://mobinmahdi.ir" target="_blank">مهدی و مبین حسنی </a>
                </div>
            </div>
        </div>
    </footer>

     <script src="~/Static/js/script.js"></script>
</body>
</html>
