@using DownloadableProduct.UI.Extensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="samandehi" content="934411681"/>
    <meta name="description" content="آی گرافیک ، مرجع بزرگ طرح های لایه باز و تصاویر استوک">
    <meta name="keywords" content="آی گرافیک ,  کارت ویزیت  , دانلود کارت ویزیت , تراکت , دانلود سربرگ  ,  سربرگ , بنر , دانلود بنر , مهر , طراحی  , i-graphic , igraphic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="آی گرافیک : i-graphic - کارت ویزیت بنر وکتور لایه باز">
    <meta property="og:url" content="http://i-graphic.ir/">
    <meta property="og:image" content="~/Static/img/logo.png">
    
     <!-- general -->
    <link rel="stylesheet" href="~/Static/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Static/lib/bootstrap/dist/css/bootstrap.min.rtl.css">
    <link rel="stylesheet" href="~/Static/fonts/font-fa.css" />

    <!-- css style -->
    <link rel="stylesheet" href="~/Static/css/styles.css" />
    <link rel="stylesheet" href="~/Static/css/override.css" />

    <!-- js labrary -->
    <script src="~/Static/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="~/Static/lib/bootstrap/bootstrap.min.js"></script>

    <!-- slick carowsel -->
    <script src="~/Static/lib/slick/slick.js"></script>
    <link href="~/Static/lib/slick/slick.css" rel="stylesheet" />

    <!-- toaster -->
    <link href="~/Static/lib/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/Static/lib/toaster/toastr.min.js"></script>

    <!-- jquery validation -->
    <script src="~/Static/js/validate-bootstrap.jquery.min.js"></script>

    @* sweet alert  *@
    <link href="~/Static/lib/sweetAlert-2/sweetalert2.css" rel="stylesheet" />
    <script src="~/Static/lib/sweetAlert-2/sweetalert2.js"></script>

</head>
<body dir="rtl">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"> آی  گرافیک</a></li>
                    <li><a href="/Home/AboutUs">درباره ما</a></li>
                    <li><a href="/Home/ContactUs">تماس با ما</a></li>
                    <li><a href="/Home/Help">راهنما</a></li>
                </ul>                
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("User"))
                        {
                            <li><a href="/User/">خوش آمدید ! @User.GetFullName()</a></li>                       
                            <li><a href="/User/">ناحیه کاربری</a></li>                       
                        }
                        @*@if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Admin/">پنل ادمین</a></li>                       
                        }*@
                        <li><a href="/logout">خروج</a></li>                     
                    }
                    else
                    {
                        <li><a href="/register">ثبت نام</a></li>
                        <li><a href="/login">ورود</a></li>                   
                    }
                </ul>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Static/img/logo.png" class="img-responsive" alt="آی  گرافیک" />
                </div>
                <div class="col-md-9">
                    <nav class="navbar navbar-inverse" style="min-height: 0px !important;" >
                        <div class="container">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li><a href="/">محصولات ایران گرافیک</a></li>
                                    <li><a href="#">شرایط خرید</a></li>
                                    <li><a href="#">شرایط طراحان</a></li>
                                    <li><a href="#">قوانین و مقررات</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <img src="~/Static/img/logo.png" alt="آی  گرافیک" class="img-responsive footer__item__logo" />
                        <div class="footer__item__desc">با مدیریت مبین حسنی </div>
                        <div class="footer__item__desc">شماره تماس : 09212651629</div>
                        <div class="footer__item__desc">ایمیل : mobinhassani9374@@gmail.com</div>
                        <div class="footer__item__desc">تلگرام : @@mobinhassani</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <div class="footer__item__title">اطلاعات بیشتر درباره آی  گرافیک</div>
                        <a class="footer__item__link" href="/Home/AboutUs">درباره ما</a>
                        <a class="footer__item__link" href="/Home/ContactUs">تماس با ما</a>
                        <a class="footer__item__link" href="/Home/Help">راهنما</a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <div class="footer__item__title">قوانین و مقررات در آی  گرافیک</div>
                        <a class="footer__item__link" href="/Home/Policy">قوانین و مقررات</a>       
                        @* <img src="~/static/img/bitpay.png" class="img-responsive" alt="آی گرافیک" />                                     *@
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer__item">
                        <div class="footer__item__title">ثبت نام در آی  گرافیک</div>
                        <a class="footer__item__link" href="/register">ورود</a>
                        <a class="footer__item__link" href="/login">ثبت نام</a>
                        <p>
                            آدرس  : .تهران .یافت آباد شرقی .میدان معلم.مجتمع چاپ معلم .ورودی ۳ .پلاک ۳۵
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer__bot">
                    طراحی و توسعه توسط <a href="http://mobinmahdi.ir" target="_blank">مهدی و مبین حسنی </a>
                </div>
            </div>
        </div>
    </footer>

   
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120605683-11"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-120605683-11');
        </script>

</body>
</html>
@Html.Partial("_Swal")
